<div class="col-lg-3 col-lg-offset-0 col-md-3 col-md-offset-0 col-sm-12 col-xs-12 sidebar-container">
    <section>
        <div class="visible-md visible-lg">
            <hr><h5>TAGS</h5>
            <div class="tags">
                <% site.tags.forEach(function(tag){ %>
                  <a class="article-tags" href="<%= config.root %><%= tag.path %>" title="<%= tag.name %>"><%= tag.name %></a>
                <% }) %>
            </div>
        </div>            
    </section>
    <section>
        <div class="visible-md visible-lg">
            <hr><h5>WORDCOUNT</h5>
            <div class="short-about">               
                <p class="word-count">博主已在本站创作<span class="post-count"><%= totalcount(site) %></span>字</p>
            </div>
        </div>            
    </section>
    <section>
        <div class="visible-md visible-lg">
            <hr><h5>WHO AM I</h5>
            <div class="short-about">               
                <img src="/img/avatar.jpg">               
                <p><%- config.intro %></p>
            </div>
        </div>            
    </section>
    <section>
        <div class="visible-md visible-lg">
            <hr><h5>WECHAT OFFICIAL ACCOUNT</h5>
            <div class="short-about">               
                <img src="/img/wechat.png">               
                <p>欢迎关注个人公众号，不定期更新</p>                
                <%- partial('link') %>
            </div>
        </div>            
    </section>
</div>